  
{% extends 'base.html' %}

{% load crispy_forms_tags crispy_forms_filters %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'coaches:schedule' team.pk %}">My Games</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ game.date }}</li>
    </ol>
  </nav>
  <h2 class="mb-3">{{ game.opponent }}</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ formset.management_form }}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'coaches:schedule' team.pk %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
  </form>
{% endblock %}