
{% block content %}

{% if team_list %}
<table class="table mb-0">
    <thead>
      <tr>
        <th>Team</th>
        <th>Questions</th>
      </tr>
    </thead>
    <tbody>
    {% for team in team_list %}
    	<tr>
            <td class="align-middle"><a href="{% url 'coaches:team_change' team.pk %}">{{ team.team_name }}</a></td>
            <td class="align-middle">{{ team.players_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% else %}
    <p>No teams are available.</p>
{% endif %}

{% endblock %}
